body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f4f9;
    color: #333;
}

header {
    background-color: #d29fb2;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0;
    font-size: 1.2em;
}

#about {
    text-align: center;
    padding: 40px;
}

#about img {
    border-radius: 50%;
    width: 200px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills,
#areas-of-interest,
#projects,
#resume,
#contact {
    background-color: #e6d4e6;
    padding: 20px;
    margin-top: 20px;
}

#skills h2,
#areas-of-interest h2,
#projects h2,
#resume h2,
#contact h2 {
    margin-top: 0;
    color: #7f5d7f;
}

#skills ul,
#areas-of-interest ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#skills li,
#areas-of-interest li {
    margin: 0 10px;
    padding: 8px 15px;
    background-color: #b9a2b1;
    color: #fff;
    border-radius: 20px;
}

#projects .project {
    margin-bottom: 40px;
}

#projects h3,
#projects h4 {
    font-size: 1.5em;
    color: #7f5d7f;
}

#projects p {
    margin-top: 10px;
}

#projects img {
    max-width: 100%;
    height: auto;
    border: 5px solid #e6d4e6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resume a {
    color: #d291bc;
    text-decoration: none;
}

#resume a:hover {
    text-decoration: underline;
}

#contact {
    background-color: #e6d4e6;
}

#contact h2 {
    margin-top: 0;
    color: #7f5d7f;
}

footer {
    background-color: rgb(215, 178, 194), 145, 173;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
